<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>ing.fuyaoskyrocket.ec25toolbox.system-helper</string>
	<key>CFBundleName</key>
	<string>EC25SystemHelper</string>
	<key>CFBundleExecutable</key>
	<string>EC25SystemHelper</string>
	<key>CFBundleVersion</key>
	<string>27.0</string>
	<key>CFBundleShortVersionString</key>
	<string>27.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
</dict>
</plist>
